
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../background.png);
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
}

.search-box {
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    background: #353b48;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    color: #00a8ff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: rgb(255, 255, 255);
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.411);
    width: 100%;
    margin-bottom: 50px;
}

.conteudo-texto {
    display: flex;
    flex-direction: row;
    gap: 25%;
    color: white;
    font-family: "Montserrat";
    font-size: 0.8em;
    
}

.homepage:hover {
    color: #00aa00;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.profile:hover {
    color: #00aa00;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.conteudo-icons {
    display: flex;
    gap: 10px;
}

.lupa {
    width: 20px;
}

.barra {
    width: 3rem;
    height: 3rem;
    margin-right: 2em;
    margin-top: 0.4rem;
}

.conteudo-devscore {
    width: 15%;
}

* {
    margin: 0px;
    padding: 0px;
    color: azure;
}

body {
    background-image: url(../background.png);
    text-align: center;
}

.logo {
    width: 250px;
}

.textos {
    display: flex;
    gap: 40px;
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input {
    color: gray;
    background-color: #0E132C;
    border-radius: 5%;
    height: 2rem;
}

button {
    border-radius: 50%;
    float: left;
    width: 40px;
    padding: 10px;
    background: #0E132C;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

button:hover {
    background: green;
}

.destaques {
    margin-bottom: 8vw;
}

.carrosel {
    width: 60%;
    margin: auto;
}

.carrosel img {
    margin-left: 20px;
    max-height: 25vw;
}

.eventos {
    width: 50%;
    margin: auto;
}

.event img {
    height: 10vw;
    width: 10vw;
    margin: auto;
}

.event {
    border-radius: 8%;
    border: 1px solid white;
    margin-left: 1vw;
    background-color: #0E132C;
}

.loading {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    margin-bottom: 5vw;
}

a{
    text-decoration: none;
}